build/
build/dev/
build/docker/
build/ci/

_deps/

.vscode/
.idea/
*.swp
*.swo
.cache/

compile_commands.json

.git/
.gitignore

.DS_Store

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake